<ion-header>
   <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
</ion-header>

<ion-content class="background">

  <!--Seta de Voltar-->
    <div class="voltar">
      <img src = "assets\img\Icones\back-arrow.png" routerLink= "/home-prof" routerDirection="root"  width ="30" height="30"/>
    </div>

    <!--Usuário Menu-->
<div class="table">
    <table cellspacing="10">
      <tr>
        <td>
          <ion-avatar class="noti">
            <img src="assets\img\Icones\conversation.png">
          </ion-avatar>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
          <ion-avatar class="user">
            <img src="assets\img\Icones\user.png">
          </ion-avatar>
        </td>
      </tr>
    </table>
  </div>

  <!--Seleção de Turma-->
  <br><br><br>

  <ion-card-header color="primary" class="card">
      <ion-title> BEBÊ 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; >
        </ion-title>
    </ion-card-header>
      <br>

    <ion-card-header color="primary"  class="card">
        <ion-title> INFANTIL  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></ion-title>
      </ion-card-header>
      <br>

      <ion-card-header color="primary"  class="card">
          <ion-title> ADULTO   
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ></ion-title>
        </ion-card-header>
        <br>

        <ion-card-header color="primary" class="card">
            <ion-title> TREINAMENTO  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ></ion-title>
                 
          </ion-card-header>
          <br>

          <ion-card-header color="primary" class="card">
              <ion-title>HIDROGINÁSTICA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></ion-title>
            </ion-card-header>
    
</ion-content>
