.background{


    --background: url('../../assets/img/Fundo/Degrade/Degrade_UtilizadoAPP2.png');
    background-size: cover;
    background-position: center;
    font-family: Merriweather Sans;
    
  
    }


    .voltar{
        margin-left: 20px;
        margin-top:20px;
      }

.aluno{
    margin-left:133px;
    margin-top: 15px;
    
}

.alun{
    margin-left: 165px;
}

.RA{
    width: 70%;
    height: 35px;
    margin-left:57px;
    border-radius: 50px;
    font-size: 12px;
    
}

.Nome{
    width: 70%;
    height: 35px;
    margin-left:57px;
    border-radius: 50px;
    font-size: 12px;
    
}

.Email{
    width: 70%;
    height: 35px;
    margin-left:57px;
    border-radius: 50px;
    font-size: 12px;
    
}

.Email1{
    width: 70%;
    height: 35px;
    margin-left:57px;
    border-radius: 50px;
    font-size: 12px;
    
}

.Senha{
    width: 70%;
    height: 35px;
    margin-left:57px;
    border-radius: 50px;
    font-size: 12px;
    
}

.Senha1{
    width: 70%;
    height: 35px;
    margin-left:57px;
    border-radius: 50px;
    font-size: 12px;
    
}

.idade{
    
        width: 70%;
        height: 35px;
        margin-left:57px;
        border-radius: 50px;
        font-size: 12px;
        
    
}

.button1{ 
    margin-left: 69px;
    width: 60%;
    height: 110;
    font-family: Merriweather Sans;
    border-radius: 300px;    
}