<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
</ion-header>

<ion-content class ="background" >

    <div class="voltar">
        <img src = "assets\img\Icones\back-arrow.png" routerLink= "/lg-alun" routerDirection="root"  width ="30" height="30"/>
    </div>  

  <div class="aluno">
      <img src = "assets\img\Icones\Aluno-Icon.png"  width ="110 " height="110"/>
  </div>

  <div class="alun">
      <ion-text color = "light">Aluno</ion-text>
      </div>
<br>

<!--Formulário-->
<form [formGroup]="formGrupo" (submit)="Cadastrar()">
<div>
    <ion-item class="RA">
        <ion-input  placeholder="RA" inputmode="text" formControlName="Ra"></ion-input>
    </ion-item>
</div>

<br>

<div>
    <ion-item class="Nome">
        <ion-input  placeholder="NOME COMPLETO" inputmode="text" formControlName="Nome"></ion-input>
    </ion-item>
</div>

<br>

<div>
    <ion-item class="Email">
        <ion-input  placeholder="EMAIL" inputmode="text" formControlName="Email"></ion-input>
    </ion-item>
</div>

<br>

<div>
    <ion-item class="Email1">
        <ion-input  placeholder="CONFIRMAR EMAIL" inputmode="text" formControlName="EmailConfirm"></ion-input>
    </ion-item>
</div>

<br>

<div>
    <ion-item class="Senha">
        <ion-input  placeholder="SENHA" inputmode="text" formControlName="Senha"></ion-input>
    </ion-item>
</div>

<br>

<div>
    <ion-item class="Senha1">
        <ion-input  placeholder="CONFIRMAR SENHA" inputmode="text" formControlName="SenhaConfirm" ></ion-input>
    </ion-item>
</div>

<br>

<!--Botão Cadastrar-->
<div>  
    <ion-button type="Submit" class="button1"> 
        Cadastrar
    </ion-button>
</div>
</form>
</ion-content>