<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
</ion-header>

<ion-content class="background">
  <!--Seta de Voltar-->
  <div class="voltar">
    <img src="assets\img\Icones\back-arrow.png" routerLink="/home" routerDirection="root" width="30" height="30" />
  </div>

  <!--Usuário Menu-->
  <div class="table">
    <table cellspacing="10">
      <tr>
        <td>
          <ion-avatar class="noti">
            <img src="assets\img\Icones\conversation.png">
          </ion-avatar>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
          <ion-avatar class="user">
            <img src="assets\img\Icones\user.png">
          </ion-avatar>
        </td>
        <td>
        <td>&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
          <ion-avatar class="noti" color="light">
            <img src="assets\img\Icones\Edit-Icon.png">
          </ion-avatar>
        </td>
      </tr>
    </table>
  </div>

  <!--Bebê-->
  <ion-card class="modalidade" color="light">
    <ion-card-header color="primary">
      <ion-title>Aulas ></ion-title>
    </ion-card-header>
  </ion-card>



</ion-content>