<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
</ion-header>

<ion-content class="background">

  <div class="table1">
    <!--Seta de Voltar-->
    <div class="voltar">
      <img src="assets\img\Icones\back-arrow.png" routerLink="/home" routerDirection="root" width="30" height="30" />
    </div>

    <!--Usuário Menu-->
    <div class="table">
      <table cellspacing="10">
        <tr>
          <td>
            <ion-avatar class="noti">
              <img src="assets\img\Icones\conversation.png">
            </ion-avatar>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>
            <ion-avatar class="user">
              <img src="assets\img\Icones\user.png">
            </ion-avatar>
          </td>
          <td>
          <td>&nbsp;</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>
            <ion-avatar class="noti" color="light">
              <img src="assets\img\Icones\Edit-Icon.png">
            </ion-avatar>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <br><br><br>

  <!--Criação da Aula-->
  <ion-card class="modalidade" color="light">
    <ion-card-header color="primary">
      <ion-title>
        <ion-input allign="center" placeholder="Data da Aula"></ion-input>
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <table width="360px" height="300px" cellspacing="0" cellspadding="" class="criarAula">
        <tr>
          <td colspan="3" width="280px">
            <p class="txt">
              <b>
                Exercícios
              </b>
            </p>
          </td>
          <td colspan="3" width="80px">
          </td>
          <td colspan="3" width="280px">
            <p class="txt">
              <b>
                Materiais
              </b>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="3" width="280px">
            <ion-input placeholder="Exercício" type="text"[(ngModel)]="aulas.exe1"></ion-input>
          </td>
          <td colspan="3" width="80px">
          </td>
          <td colspan="3" width="280px">
            <ion-input placeholder="Material" type="text" [(ngModel)]="aulas.mate1"></ion-input>
          </td>
        </tr>
        <tr>
          <td colspan="3" width="280px">
            <ion-input placeholder="Exercício" type="text" [(ngModel)]="aulas.exe2" ></ion-input>
          </td>
          <td colspan="3" width="80px">
          </td>
          <td colspan="3" width="280px">
            <ion-input placeholder="Material" type="text" [(ngModel)]="aulas.mate2"></ion-input>
          </td>
        </tr>
        <tr>
          <td colspan="3" width="280px">
            <ion-input placeholder="Exercício" type="text" [(ngModel)]="aulas.exe3"></ion-input>
          </td>
          <td colspan="3" width="80px">
          </td>
          <td colspan="3" width="280px">
            <ion-input placeholder="Material" type="text" [(ngModel)]="aulas.mate3"></ion-input>
          </td>
        </tr>
        <tr>
          <td colspan="3" width="280px">
            <ion-input placeholder="Exercício" type="text" [(ngModel)]="aulas.exe4"></ion-input>
          </td>
          <td colspan="3" width="80px">
          </td>
          <td colspan="3" width="280px">
            <ion-input placeholder="Material" type="text" [(ngModel)]="aulas.mate4"></ion-input>
          </td>
        </tr>
        <tr>
          <td colspan="3" width="280px">
            <ion-input placeholder="Exercício" type="text" [(ngModel)]="aulas.exe5"></ion-input>
          </td>
          <td colspan="3" width="80px">
          </td>
          <td colspan="3" width="280px">
            <ion-input placeholder="Material" type="text" [(ngModel)]="aulas.mate5"></ion-input>
          </td>
        </tr>
        <tr>
          <td colspan="3" width="280px">
            <ion-input placeholder="Exercício" type="text" [(ngModel)]="aulas.exe6"></ion-input>
          </td>
          <td colspan="3" width="80px">
          </td>
          <td colspan="3" width="280px">
            <ion-input placeholder="Material" type="text" [(ngModel)]="aulas.mate6"></ion-input>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <!--Botão Conclusão-->
  <div>
    <ion-button type="Submit" class="button1">
      Concluído
    </ion-button>
  </div>
  <br>
</ion-content>