
.background{


    --background: url('../../assets/img/Fundo/Degrade/Degrade_UtilizadoAPP2.png');
    background-size: cover;
    background-position: center;
    font-family: Merriweather Sans;
    
  
    }

.voltar{
  margin-left: 20px;
  margin-top:20px;
}
       
.logo{
  
    margin-left:93px;
}

.prof{
    margin-left:138px;
    position: relative;
}

.prof1{
    text-decoration-color: light;
    margin-left: 156px;
}

.snow{
    color: #ababab;

}


.user{
    width: 50%;
    height: 45px;
    margin-left:89px;
    border-radius: 80px;
    font-size: 12px;
    
}

.password{
    width: 50%;
    height: 45px;
    margin-left:89px;
    border-radius: 80px;
    font-size: 12px;
    
}
.button1{ 
    margin-left: 69px;
    width: 60%;
    height: 110;
    font-family: Merriweather Sans;
    border-radius: 300px;    
}


