<ion-header>
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
</ion-header>

<ion-content class ="background" >

        <div class="voltar">
                <img src = "assets\img\Icones\back-arrow.png" routerLink= "/home" routerDirection="root"  width ="30" height="30"/>
        </div>

        <div class="logo">    
                <img src = "assets\img\Logo\Titulo.png"  width ="190 " height="140"/>
        </div>
        
                  <br>

        <div class="prof">
                <img src = "assets\img\Icones\Professor-Icon.png"  width ="100 " height="100"/>
        </div>

        <div class="prof1">
        <ion-text color = "light">Professor</ion-text>
        </div>

                 <br>

        <div >
          <ion-item class="user">
             <ion-input type="text" placeholder="Login"></ion-input>
          </ion-item>
         <br>
          <ion-item class="password">
             <ion-input type="password" placeholder="Senha"></ion-input>
          </ion-item>
        <br><br>
        </div>
        
        
        <!-----Botão---->
        <div>  
            <ion-button type="Submit" class="button1"> 
                Entrar 
            </ion-button>
        </div>

        
</ion-content>

