<ion-header>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    
</ion-header>

<ion-content class ="background" >
    
  <div class="logo">    
        <img src = "assets\img\Logo\Titulo.png"  width ="190 " height="140"/>
  </div>
 <br>
    <div class="bolhas">
      <img class = "bolhas" src="assets\img\Fundo\Bolha1.png"/>
    </div>
<br>
  <div class="icone-prof">
      <img class = "icones" routerLink= "/lg-prof" routerDirection="root" src = "assets\img\Icones\Professor-Icon.png" width ="110 " height="110"/> 
  </div>

  <div class="prof1">
      <ion-text color = "light">Professor</ion-text>
  </div>
  <div class="bolhas1">
      <img class = "bolhas" src="assets\img\Fundo\Bolha2.png" />
  </div>   
  <div class="icone-alu">
      <img class = "icones" routerLink= "/lg-alun" routerDirection="root" src = "assets\img\Icones\Aluno-Icon.png"  width ="110 " height="110"/> 
  </div>
  <div class="alu1">
      <ion-text color = "light" >Aluno</ion-text>
  </div>
  
</ion-content>
